body {
    margin: 0;
    padding: 0;
    background-color:grey ;
}

main {
    flex: 4;
}

aside {
    flex: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box {
    border: 2px solid black;
    margin: 10px;
    background-color: white;
    padding: 0 10px;
}

.container2 {
    display: grid;
    grid-template-columns: 5fr 1fr;
}